@charset "UTF-8";
/* stylelint-disable */
/* stylelint-enable */
/* stylelint-disable */
/**
* Селекторы для таргетинга на конкретные браузеры без влияния на специфику или
* ограничение использования в медиа-запросах
*
* Плюсы:
* - Работает с медиа-запросами
*
* Минусы:
* - Не может использоваться с @extend, так как это приведет к недействительности других селекторов
*/
/**
* Целевой Internet Explorer, но не Edge
*
* @demo
*	div {
*		@include browser-ie () {
*			// ...
*		}
*	}
*/
/**
* Target IE-Edge
*/
/**
* Target Firefox
*/
/**
* Target Safari
*/
/**
* Target all WebKit browsers
*/
/**
* Remove the unit of a length
*
* @param {Number} $number - Number to remove unit from
* @return {Number} - Unitless number
*/
/**
* Returns nth property from css property list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$bottom-margin: css-nth(10px 20px 30px 40px, 3); // 30px
*	$bottom-margin: css-nth(10px 20px, 3); // 10px
*/
/**
* Remove nth elements from the list
*
* @property {map} $list List
* @property {number} $index Item index
*
* @example
*	$list: remove-nth(10px 20px 30px 40px, 3); // 10px 20px 40px
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for one in $index position
*
* 'inherit' value when used with 'margins' or 'paddings' mixin will not produce any output
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-only: breakpointPickCssNth($spacer, 1);
* => (xs: 10px inherit inherit inherit, md: 20px inherit inherit inherit)
*	@include margins($spacer-top-only);
*
*	$spacer-bottom-only: breakpointPickCssNth($spacer, 3);
* => (xs: inherit inherit 12px inherit, md: inherit inherit 20px inherit)
*	@include paddings($spacer-bottom-only);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for top (first) and bottom (third) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-top-bottom: breakpoint-pick-top-bottom($spacer);
* => (xs: 10px inherit 12px inherit, md: 20px inherit 20px inherit)
*	@include margins($spacer-top-bottom);
*/
/**
* In each $list pair of $breakpoint: $value replaces all values with 'inherit'
* except for right (second) and left (fourth) properties
*
* @example
*	$spacer: (xs: 10px 11px 12px 13px, md: 20px 0);
*
*	$spacer-left-right: breakpoint-pick-top-bottom($spacer);
* => (xs: inherit 11px inherit 13px, md: inherit 0 inherit 0)
*	@include margins($spacer-left-right);
*/
/**
* In each $list pair of $breakpoint: $value merges all values skipping 'inherit'
*
* @example
*	$list-a: (xs: 10px inherit 20px inherit, md: 30px inherit);
*	$list-b: (xs: 40px inherit inherit inherit, md: inherit 50px);
*
*	$list-result: breakpointMapMerge($list-a, $list-b);
*	// (xs: 40px inherit 20px inherit, md: 30px 50px);
*/
/**
* Returns deeply nested property from a map
*
* @function mapGetDeep Deep get for sass maps
* @author https://css-tricks.com/snippets/sass/deep-getset-maps/
* @param {Map} $map - Map
* @param {Arglist} $keys - Key chain
*
* @example
*	$paddings: mapGetDeep($grid-containers, default, paddings, xs);
*/
/**
* Mixin for object-fit plugin
*
* @see https://github.com/bfred-it/object-fit-images
* @see components/_background.scss
* @example
*	@include object-fit(contain);
*	@include object-fit(cover, top);
*/
/**
* Split string into a list
*
* @property {string} $string String
* @property {string} $separator Separator
*
* @example
*	$list: str-split("hello+world", "+"); // (hello, world)
*/
/**
* Converts SVG into data url so that this SVG could be used as a
* background image
*
* @example
*	background-image: svgtodataurl("<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100">...</svg>");
*/
/**
* Remove keys from the map
*
* @param {Map} $map - Map from which to remove items
* @param {List} $keys - List of keys which to remove
* @return {Map} - Map without the specified keys
*/
/**
* Качество рендеринга изображений
* В Chrome качество фонового изображения не самое лучшее при использовании background-size
*/
@font-face {
  src: url("../fonts/SF-Pro-Display-Regular.woff") format("woff");
  font-family: "SFPro";
  font-weight: 400;
  font-style: normal; }

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*! locomotive-scroll v4.1.3 | MIT License | https://github.com/locomotivemtl/locomotive-scroll */
html.has-scroll-smooth {
  overflow: hidden; }

html.has-scroll-dragging {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.has-scroll-smooth body {
  overflow: hidden; }

.has-scroll-smooth [data-scroll-container] {
  min-height: 100vh; }

[data-scroll-direction="horizontal"] [data-scroll-container] {
  height: 100vh;
  display: inline-block;
  white-space: nowrap; }

[data-scroll-direction="horizontal"] [data-scroll-section] {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  height: 100%; }

.c-scrollbar {
  position: absolute;
  right: 0;
  top: 0;
  width: 11px;
  height: 100%;
  -webkit-transform-origin: center right;
      -ms-transform-origin: center right;
          transform-origin: center right;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  -o-transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  opacity: 0; }

.c-scrollbar:hover {
  -webkit-transform: scaleX(1.45);
      -ms-transform: scaleX(1.45);
          transform: scaleX(1.45); }

.c-scrollbar:hover, .has-scroll-scrolling .c-scrollbar, .has-scroll-dragging .c-scrollbar {
  opacity: 1; }

[data-scroll-direction="horizontal"] .c-scrollbar {
  width: 100%;
  height: 10px;
  top: auto;
  bottom: 0;
  -webkit-transform: scaleY(1);
      -ms-transform: scaleY(1);
          transform: scaleY(1); }

[data-scroll-direction="horizontal"] .c-scrollbar:hover {
  -webkit-transform: scaleY(1.3);
      -ms-transform: scaleY(1.3);
          transform: scaleY(1.3); }

.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.5;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  cursor: -webkit-grab;
  cursor: grab; }

.has-scroll-dragging .c-scrollbar_thumb {
  cursor: -webkit-grabbing;
  cursor: grabbing; }

[data-scroll-direction="horizontal"] .c-scrollbar_thumb {
  right: auto;
  bottom: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth; }
  html.has-cursor,
  html.has-cursor * {
    cursor: none !important; }
  html.is-lock-scroll,
  html.is-lock-scroll body {
    overflow: hidden; }

body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1; }

p {
  margin: 0; }

a,
button {
  outline: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  cursor: pointer; }

a {
  text-decoration: none;
  color: currentColor; }

svg {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 100%;
  height: 100%;
  fill: currentColor; }

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0; }
  figure img,
  picture img {
    width: 100%; }

img {
  vertical-align: top;
  max-width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

img[draggable="false"] {
  pointer-events: none;
  -webkit-user-drag: none; }

fieldset {
  margin: 0;
  border: 0;
  padding: 0; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

video {
  outline: none;
  width: 100%;
  height: 100%; }

iframe {
  display: block; }

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  border: 0;
  padding: 0;
  text-align: center;
  background-color: transparent;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .btn__content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-width: 100%;
    color: currentColor;
    -webkit-transform: translateZ(0);
            transform: translateZ(0); }

.js-lazy-load:not(.is-loaded) {
  max-height: 50vh; }

.container {
  position: relative;
  z-index: 1;
  margin: 0 auto;
  width: 100%;
  max-width: 100%; }

.site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  min-height: var(--vh); }

/* stylelint-disable */
/*
* Немедленно переместите любую анимацию в конечную точку, если пользователь установил свое устройство в положение "prefers reduced motion".
* Это может привести к плохим(непреднамеренным) последствиям. Удалите по мере необходимости и напишите свой собственный код для prefers-reduced-motion.
*/
@media (prefers-reduced-motion: reduce) {
  *,
  *:before,
  *:after {
    -webkit-animation-duration: 0.001s !important;
            animation-duration: 0.001s !important;
    -webkit-animation-delay: 0s !important;
            animation-delay: 0s !important;
    -webkit-transition-duration: 0.001s !important;
         -o-transition-duration: 0.001s !important;
            transition-duration: 0.001s !important;
    -webkit-transition-delay: 0s !important;
         -o-transition-delay: 0s !important;
            transition-delay: 0s !important; } }

/* stylelint-enable */
.is-hidden {
  display: none !important; }
  @media (min-width: 1025px) {
    .is-hidden {
      display: block !important; } }

.appear {
  opacity: 1 !important; }

.is-hide {
  opacity: 0; }

@media (max-width: 1024px) {
  .for-desktop {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-tablet {
    display: none !important; } }

@media (max-width: 767px) {
  .for-tablet {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 1024px) {
  .for-mobile {
    display: none !important; } }

@media (min-width: 1025px) {
  .for-devices {
    display: none !important; } }

.clearfix {
  overflow: auto; }
  .clearfix::after {
    content: "";
    display: table;
    clear: both; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0); }

/* stylelint-disable */
.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto; }

/* stylelint-enable */
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  background-color: #fff; }
  .header__logo {
    display: block;
    width: 80px;
    height: 80px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s; }
  .header__menu {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 98;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    overflow: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 60px 40px 0 40px;
    width: 100vw;
    height: 100vh;
    color: #000;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-overflow-scrolling: touch; }
    .header__menu.is-active {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateX(0);
          -ms-transform: translateX(0);
              transform: translateX(0); }
  .header__list {
    width: 100%;
    text-align: center; }
  .header__background {
    width: 100%;
    height: 100%;
    background-image: url("../../images/menuBackground.svg");
    background-size: cover;
    background-position: center;
    margin-top: -50px; }
  .header__link {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    margin: 0 auto;
    min-height: 85px;
    font-family: "SFPro";
    font-weight: 700;
    font-size: 26px;
    line-height: 120%;
    text-align: left;
    color: #282a33; }
    .header__link .active {
      color: #58013d; }
    .header__link:first-child:active {
      color: pink; }
  .header__burger {
    z-index: 100;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 26px;
    color: #000;
    padding-top: 10px; }
    .header__burger span {
      display: block;
      margin: 3px 0;
      width: 26px;
      height: 2.25px;
      background-color: currentColor;
      -webkit-transition: 0.4s;
      -o-transition: 0.4s;
      transition: 0.4s; }
    .header__burger.is-active span:first-child {
      -webkit-transform: translate(0, 8px) rotate(-45deg);
          -ms-transform: translate(0, 8px) rotate(-45deg);
              transform: translate(0, 8px) rotate(-45deg); }
    .header__burger.is-active span:nth-child(2) {
      display: none; }
    .header__burger.is-active span:last-child {
      -webkit-transform: translate(0, -1px) rotate(45deg);
          -ms-transform: translate(0, -1px) rotate(45deg);
              transform: translate(0, -1px) rotate(45deg); }
  @media (min-width: 1025px) {
    .header {
      padding: 100px 150px 40px; }
      .header .is-active {
        content: '';
        left: 2%;
        height: 100%;
        background-image: url("../../images/menuActive.svg");
        background-repeat: no-repeat;
        z-index: -1;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
      .header__logo {
        width: 150px;
        height: 150px; }
      .header__menu {
        position: static;
        display: block;
        overflow: hidden;
        overflow-y: auto;
        margin: 0;
        padding: 0;
        width: 25%;
        height: auto;
        color: #000;
        background-color: #fff;
        opacity: 1;
        visibility: visible;
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        -webkit-overflow-scrolling: touch; }
        .header__menu.is-active {
          opacity: 1;
          visibility: visible;
          -webkit-transform: translateX(0);
              -ms-transform: translateX(0);
                  transform: translateX(0); }
      .header__list {
        width: 100%;
        text-align: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
      .header__background {
        display: none; }
      .header__link {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: left;
            -ms-flex-pack: left;
                justify-content: left;
        margin: 0 auto;
        min-height: 85px;
        font-family: "SFPro";
        font-weight: 700;
        font-size: 18px;
        line-height: 120%;
        text-align: left;
        color: #282a33;
        -webkit-transition: all .3s;
        -o-transition: all .3s;
        transition: all .3s; }
        .header__link:hover {
          color: #58013d; }
      .header__burger {
        display: none; } }

.about-me-section {
  font-family: "SFPro";
  font-size: 14px;
  line-height: 135%;
  width: 100%;
  height: 100%;
  background-image: url("../../images/aboutMeSectionBackground.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; }
  .about-me-section__block1 h1 {
    font-size: 28px;
    line-height: 135%;
    font-weight: 700;
    padding: 0;
    margin-bottom: 2.6vw; }
  .about-me-section__block1 span {
    font-size: 18px;
    padding: 0;
    margin-bottom: 5.3vw; }
  .about-me-section__block1 p {
    padding: 0;
    margin: 0;
    margin-bottom: 5.33vw; }
  .about-me-section__block1 a {
    text-decoration: underline; }
    .has-hover .about-me-section__block1 a:not([disabled]):hover {
      text-decoration: none; }
  .about-me-section__block1 code {
    padding: 5px;
    background-color: #eee; }
  .about-me-section__contacts {
    margin-bottom: 4vw; }
    .about-me-section__contacts li {
      margin-bottom: 2.6vw; }
      .about-me-section__contacts li:last-child {
        margin-bottom: 0; }
  .about-me-section__socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    .about-me-section__socials li {
      padding-right: 5.33vw; }
      .about-me-section__socials li:last-child {
        padding-right: 0; }
      .about-me-section__socials li button {
        background: none;
        border: none; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .about-me-section {
      font-size: 18px; }
      .about-me-section h1 {
        font-size: 32px; }
      .about-me-section span {
        font-size: 22px; } }
  @media (min-width: 1025px) {
    .about-me-section {
      font-family: "SFPro";
      font-size: 14px;
      line-height: 135%;
      width: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      padding-bottom: 13.8vw;
      margin: 0;
      background-image: url("../../images/aboutMeSectionBackgroundDesktop.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: bottom; }
      .about-me-section__block1 {
        width: 49.5%; }
        .about-me-section__block1 h1 {
          font-size: 36px;
          line-height: 135%;
          font-weight: 700;
          padding: 0;
          margin-bottom: 1.6vw;
          margin-top: 0; }
        .about-me-section__block1 span {
          font-size: 18px;
          padding: 0;
          margin-bottom: 5.3vw; }
        .about-me-section__block1 p {
          padding: 0;
          margin: 0;
          margin-bottom: 0;
          opacity: 1;
          -webkit-transition: opacity 4s;
          -o-transition: opacity 4s;
          transition: opacity 4s; }
        .about-me-section__block1 a {
          text-decoration: underline; }
          .has-hover .about-me-section__block1 a:not([disabled]):hover {
            text-decoration: none; }
        .about-me-section__block1 code {
          padding: 5px;
          background-color: #eee; }
      .about-me-section__block2 {
        width: 37.5%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .about-me-section__contacts {
        margin-bottom: 1vw; }
        .about-me-section__contacts li {
          margin-bottom: .7vw; }
          .about-me-section__contacts li:last-child {
            margin-bottom: 0; }
      .about-me-section__socials {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; }
        .about-me-section__socials li {
          padding-right: 1.38vw; }
          .about-me-section__socials li:last-child {
            padding-right: 0; }
          .about-me-section__socials li button {
            border: none;
            background: none; } }

.expirience-section {
  font-family: "SFPro";
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  height: 100%; }
  .expirience-section h2 {
    font-size: 20px;
    line-height: 135%;
    font-weight: 700;
    margin-bottom: 5.33vw; }
  .expirience-section .expirience-item {
    margin-bottom: 16vw;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s; }
    .expirience-section .expirience-item__date {
      color: #828282;
      padding-bottom: 2.1vw; }
    .expirience-section .expirience-item__title {
      font-weight: 700;
      color: #282a33;
      padding-bottom: 2.1vw; }
    .expirience-section .expirience-item__company {
      color: #282a33;
      padding-bottom: 2.1vw;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      .expirience-section .expirience-item__company img {
        width: 8vw;
        height: 8vw;
        border-radius: 50%;
        margin-right: 2.1vw; }
      .expirience-section .expirience-item__company__title__name {
        font-weight: 700;
        color: #282a33; }
      .expirience-section .expirience-item__company__title__location {
        font-weight: 400;
        color: #282a33; }
    .expirience-section .expirience-item__description {
      color: #282a33;
      padding-bottom: 2.1vw; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .expirience-section {
      font-size: 18px; }
      .expirience-section h2 {
        font-size: 24px; } }
  @media (min-width: 1025px) {
    .expirience-section {
      width: 49.5%;
      font-size: 14px;
      font-weight: 400;
      line-height: 130%;
      margin-bottom: 13.8vw; }
      .expirience-section h2 {
        font-size: 24px;
        margin-bottom: 2.1vw; }
      .expirience-section .expirience-item {
        margin-bottom: 4.1vw;
        opacity: 0;
        -webkit-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s; }
        .expirience-section .expirience-item__date {
          color: #828282;
          padding-bottom: .55vw; }
        .expirience-section .expirience-item__title {
          padding-bottom: .55vw; }
        .expirience-section .expirience-item__company {
          padding-bottom: .55vw; }
          .expirience-section .expirience-item__company img {
            width: 2.1vw;
            height: 2.1vw;
            border-radius: 50%;
            margin-right: .55vw; } }

.education-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "SFPro";
  font-size: 14px;
  line-height: 130%;
  height: 100%;
  background-image: url("../../images/educationSectionBackground.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; }
  .education-section__image {
    height: 70vw;
    width: 70vw;
    margin: 0 auto;
    background-image: url("../../images/educationImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; }
    .education-section__image img {
      display: none; }
  .education-section__info-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .education-section__info-block h2 {
      font-family: "SFPro";
      font-size: 20px;
      line-height: 105%;
      font-weight: 700;
      margin-bottom: 4vw; }
  .education-section__list-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .education-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
    margin-bottom: 5.33vw;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s; }
    .education-section__item img {
      margin-bottom: 5px; }
    .education-section__item span {
      font-weight: 700;
      margin-bottom: 1.33vw; }
    .education-section__item p {
      font-weight: 400; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .education-section {
      font-size: 18px; }
      .education-section__info-block h2 {
        font-size: 24px; } }
  @media (min-width: 1025px) {
    .education-section {
      width: 49.5%;
      height: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      background: none; }
      .education-section__image {
        width: 66.6%;
        height: 100%;
        margin: 0 auto;
        background: none; }
        .education-section__image img {
          display: block;
          position: absolute;
          top: 2%;
          left: 42%;
          width: 500px;
          height: 500px; }
      .education-section__info-block {
        width: 66%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .education-section__info-block h2 {
          font-size: 24px;
          margin-bottom: 2.1vw;
          text-align: center; }
      .education-section__list-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .education-section__item {
        opacity: 0;
        -webkit-transition: opacity 2s;
        -o-transition: opacity 2s;
        transition: opacity 2s;
        width: 100%;
        margin-bottom: 2.1vw; }
        .education-section__item img {
          margin-bottom: 0.34vw; }
        .education-section__item span {
          font-weight: 700;
          margin-bottom: 0.34vw; } }

.skills-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "SFPro";
  font-size: 14px;
  font-weight: 400;
  line-height: 110%;
  height: 100%;
  opacity: 1; }
  .skills-section h2 {
    font-size: 20px;
    line-height: 105%;
    font-weight: 700;
    margin-bottom: 4vw; }
  .skills-section__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5.33vw; }
    .skills-section__item span {
      font-weight: 700;
      line-height: 110%;
      text-align: left;
      margin-bottom: 1.6vw; }
    .skills-section__item p {
      text-align: left; }
  @media (min-width: 768px) and (max-width: 1024px) {
    .skills-section {
      font-size: 18px; }
      .skills-section h2 {
        font-size: 24px; } }
  @media (min-width: 1025px) {
    .skills-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .skills-section__block {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
      .skills-section h2 {
        font-size: 24px;
        line-height: 105%;
        font-weight: 700;
        margin-bottom: 2.1vw; }
      .skills-section__item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 0;
        width: auto;
        margin-bottom: 220px; }
        .skills-section__item span {
          font-weight: 700;
          line-height: 110%;
          text-align: left;
          margin-bottom: 0.41vw; }
        .skills-section__item p {
          text-align: left; }
      .skills-section img {
        width: 35.5vw;
        height: auto;
        margin: 0 auto; } }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: auto;
  padding: 20px 30px;
  width: 100%; }
  .footer__developer {
    margin-left: auto;
    font-size: 12px;
    line-height: 16px; }
  .footer__copy {
    font-size: 12px;
    line-height: 16px; }

.progressBlock {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: .5;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .progressBlock:hover {
    opacity: 1; }

.box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 50%; }

.box .number span {
  color: #616060; }

.box .number .num {
  font-size: 10px;
  font-weight: bold; }

.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  fill: none;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.circle {
  r: 15px;
  cx: 16px;
  cy: 16px;
  stroke: url(#gradientStyle);
  stroke-width: 2px;
  stroke-dasharray: 94;
  stroke-dashoffset: 94;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transition: 2s stroke-dashoffset;
  -o-transition: 2s stroke-dashoffset;
  transition: 2s stroke-dashoffset; }

.up-arrow {
  position: absolute;
  top: calc(52% - 10px);
  left: calc(5% - 8px);
  width: 32px;
  height: 32px;
  z-index: 100;
  cursor: pointer; }
  .up-arrow span {
    padding: 15px; }

@media (min-width: 1440px) {
  .progressBlock {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 25px;
    right: 25px;
    opacity: .5;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .progressBlock:hover {
      opacity: 1; }
  .box {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: 50%; }
  .up-arrow {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(22% - 8px);
    width: 48px;
    height: 48px;
    z-index: 100;
    cursor: pointer; }
  .box .number span {
    color: #616060; }
  .box .number .num {
    font-size: 10px;
    font-weight: bold; }
  .svg {
    position: absolute;
    width: 100%;
    height: 100%;
    fill: none;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }
  .circle {
    r: 24px;
    cx: 25px;
    cy: 25px;
    stroke: url(#gradientStyle);
    stroke-width: 2px;
    stroke-dasharray: 151;
    stroke-dashoffset: 151;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    -webkit-transition: 2s stroke-dashoffset;
    -o-transition: 2s stroke-dashoffset;
    transition: 2s stroke-dashoffset; } }

@-webkit-keyframes ninelines-preloader-animation {
  0% {
    left: -18%;
    -webkit-transform: translate(-18%) translateY(0%);
            transform: translate(-18%) translateY(0%); }
  30% {
    left: 20%;
    -webkit-transform: translate(30vw) translateY(-70vh);
            transform: translate(30vw) translateY(-70vh); }
  50% {
    left: 30%;
    -webkit-transform: translate(40vw) translateY(-50vh);
            transform: translate(40vw) translateY(-50vh); }
  70% {
    left: 60%;
    -webkit-transform: translate(70vw) translateY(-90vh);
            transform: translate(70vw) translateY(-90vh); }
  100% {
    left: 100%;
    -webkit-transform: translate(110vw) translateY(-200vh);
            transform: translate(110vw) translateY(-200vh); } }

@keyframes ninelines-preloader-animation {
  0% {
    left: -18%;
    -webkit-transform: translate(-18%) translateY(0%);
            transform: translate(-18%) translateY(0%); }
  30% {
    left: 20%;
    -webkit-transform: translate(30vw) translateY(-70vh);
            transform: translate(30vw) translateY(-70vh); }
  50% {
    left: 30%;
    -webkit-transform: translate(40vw) translateY(-50vh);
            transform: translate(40vw) translateY(-50vh); }
  70% {
    left: 60%;
    -webkit-transform: translate(70vw) translateY(-90vh);
            transform: translate(70vw) translateY(-90vh); }
  100% {
    left: 100%;
    -webkit-transform: translate(110vw) translateY(-200vh);
            transform: translate(110vw) translateY(-200vh); } }

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #fff;
  z-index: 1001; }
  .preloader img {
    width: 40vw;
    height: auto;
    position: absolute;
    bottom: -27%;
    left: -18%;
    -webkit-animation: ninelines-preloader-animation 5s infinite ease-in-out;
            animation: ninelines-preloader-animation 5s infinite ease-in-out; }
  @media (min-width: 1025px) {
    .preloader img {
      width: 20vw;
      height: auto; } }

.move-ne:hover {
  -webkit-transform: translate(300vh, -160vh);
      -ms-transform: translate(300vh, -160vh);
          transform: translate(300vh, -160vh); }

html {
  scroll-behavior: smooth; }

.main {
  padding: 130px 20px 0; }
  .main article {
    height: auto; }
  @media (min-width: 1025px) {
    .main {
      padding: 290px 150px 0; }
      .main article {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        background-image: url("../../images/article-bg.svg");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: bottom; } }

/*# sourceMappingURL=main.css.map */
