@keyframes ninelines-preloader-animation {
    0% {
        left: -18%;
        transform: translate(-18%) translateY(0%);
    }

	
    30% {
        // top: 70%;
        left: 20%;
        transform: translate(30vw) translateY(-70vh);
    }

    50% {
        // top: 60%;
        left: 30%;
        transform: translate(40vw) translateY(-50vh);
    }

   

    70% {
        // top: 30%;
        left: 60%;
        transform: translate(70vw) translateY(-90vh);
    }


    100% {
        // top: 100%;
        left: 100%;
        transform: translate(110vw) translateY(-200vh);
    }
}

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #fff;
    z-index: 1001;
    img {
        width: 40vw;
        height: auto;
        position: absolute;
        bottom: -27%;
        left: -18%;
        animation: ninelines-preloader-animation 5s infinite ease-in-out;
    }

    @include desktop {
       img {
        width: 20vw;
        height: auto;
       } 
    }
}

.move-ne:hover {
    transform: translate(300vh,-160vh);  
}