@import "../mixins/breakpoint";

.skills-section {
	display: flex;
	flex-direction: column;
	font-family: $font-family-SFPro;
	font-size: 14px;
	font-weight: 400;
	line-height: 110%;
	height: 100%;
	opacity: 1;

	h2 {
		font-size: 20px;
		line-height: 105%;
		font-weight: 700;
		margin-bottom: 4vw;
	}
	&__item {
		display: flex;
		flex-direction: column;
		margin-bottom: 5.33vw;

		span {
			font-weight: 700;
			line-height: 110%;
			text-align: left;
			margin-bottom: 1.6vw;
		}

		p {
			text-align: left;
		}
	}

	@include tablet {
		font-size: 18px;
	
		h2 {
			font-size: 24px;
		}
	}

	@include desktop {
		display: flex;
		flex-direction: column;
		&__block {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
		h2 {
			font-size: 24px;
			line-height: 105%;
			font-weight: 700;
			margin-bottom: 2.1vw;
		}
		&__item {
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			width: auto;
			margin-bottom: 220px;
	
			span {
				font-weight: 700;
				line-height: 110%;
				text-align: left;
				margin-bottom: 0.41vw;
			}
	
			p {
				text-align: left;
			}
		}
		img {
			width: 35.5vw;
			height: auto;
			margin: 0 auto;
		}
	}
}