html{scroll-behavior:smooth}
.main {
	padding: 130px 20px 0;

	.article {
		height: auto;
	}

	@include desktop {
		padding: 290px 150px 0;

		.article {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background-image: url("../../images/article-bg.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom;

		}
	}
}