- var facebook = "images/facebookIcon.svg"
- var linkedin = "images/linkedin.svg"
- var telegram = "images/telegramIcon.svg"

section.about-me-section#hello
	h1
		| Шпреер Геннадий
	span
		| Frontend Developer
	br
	br
	p 
		| Я заинтересован в разработке и стремлюсь стать ценным членом команды. Люблю учиться и принимать вызовы, 
		| чтобы постоянно развиваться. Я стремлюсь, чтобы, качество моей работы всегда было на высшем уровне, я 
		| стараюсь соблюдать все задачи и требования. Готов работать с большими объемами заданий. Мой энтузиазм, 
		| ответственность и умение работать в команде сделают меня ценным дополнением к любой разработческой команде. 
		| Готов принимать вызовы, чтобы достичь успеха вместе с командой и улучшить свои навыки в этой области.
		
	ul.about-me-section__contacts
		li 
			a(href="mailto:intellegento@gmail.com", target="_blank") intellegento@gmail.com
		li 
			a(href="tel:+996550311391", target="_blank") +996(550)311-391
		li 
			| г. Бишкек

	ul.about-me-section__socials
		li 
			a(href="https://www.facebook.com/g.shpreer", target="_blank") 
				img(src=facebook)
		li 
			a(href="https://www.linkedin.com/in/g-shpreer/", target="_blank") 
				img(src=linkedin)
		li 
			a(href="https://t.me/intellegento", target="_blank")
				img(src=telegram) 
