- var trixcode = "images/trixcode.png"
- var fl = "images/fl.png"

section.expirience-section#expirience
		h2
			| Опыт работы

		div.expirience-item
			p.expirience-item__date 
				| Октябрь 2021 - настоящее время
			p.expirience-item__title 
				| Frontend developer
			div.expirience-item__company 
				img(src=trixcode)
				div.expirience-item__company__title
					p.expirience-item__company__title__name
						|TrixCode LLC 
					p.expirience-item__company__title__location
						| г. Ьишкек, Кыргызстан
			ul.expirience-item__description 
				li 
					| - Участвовал в создании новых проектов с использованием React и Next JS и различных библиотек, таких как, GSAP, AnimateJS, и многих других
				li 
					| - Участвовал в создании проекта на Shopify (liquid)
				li 
					| - Получил опыт работы с различными CMS, включая Shopify и WordPress
				li 
					| - Переносил крупноный проект с WordPress и GatsbyJS 2.6 на React и Strapi
				li 
					| - Увеличил производительность и оценки готового продукта в Lighthouse в различных метриках
				li 
					| - Самостоятельно разработал небольшого проекта 
				li 
					| - Руководил небольшой командой на начальных этапах разработки нового проекта, включая постановку задач, оценку сроков и отслеживание этапов разработки. 
				li 
					| - Создавал E-mail тимплэйты для рассылок клиентам 
				li 
					| - Участвовал в наполнении готовых проектов как на стороне фронтэнда так и, на стороне бэкэнда
				li 
					| - Разработал и оформил тестового задания для интернов
			a.expirience-item__link(href="https://trixcode.io/") trixcode.io

		div.expirience-item
			p.expirience-item__date 
				| Январь 2021- Октябрь 2021
			p.expirience-item__title 
				| ОБУЧЕНИЕ FRONTEND РАЗРАБОТКЕ 
			div.expirience-item__company 
				div.expirience-item__company__title
					p.expirience-item__company__title__name
						|
					p.expirience-item__company__title__location
						| г. Ьишкек, Кыргызстан
			ul.expirience-item__description 
				li 
					| -jewelery
					br
					| Тестовое задание. В проекте использовались HTML, CSS, JavaScript(Next.JS), AnimeJS
				li 
					| -Todo (список дел) 
					br
					| Выпускная работа на курсе компьютерной грамотности проекта 50к программистов. В проекте использовались Python(Django) + HTML&CSS
				li 
					| -Covid-19
					br
					| Самостоятельная работа под контролем ментора. В проекте были использованы HTML, SCSS, JavaScript, Bootstrap, WebPack и немного JS,, при работе использовался GitHub. Проект в процессе завершения, на данный момент он занял 1,5 месяца.

		div.expirience-item
			p.expirience-item__date 
				| Май 2010 – Сентябрь 2021
			p.expirience-item__title 
				| Графический дизайнер(FL.ru, freelancer.com)
			div.expirience-item__company 
				img(src=fl)
				div.expirience-item__company__title
					p.expirience-item__company__title__name
						| FL.ru
					p.expirience-item__company__title__location
						| г. Ьишкек, Кыргызстан
			ul.expirience-item__description 
				li 
					| Поиск и работа с клиентами, обсуждение и решение поставленных целей, поиск оптимальных решений, 
					| ведение переписок, создание акшнскриптов для Photoshop, решение спорных моментов и поиск 
					| компромиссов, создание печатной и цифровой продукции, контент менеджмент и многое, многое другое	