.progressBlock
  .box
    p.number
      span.num 
  svg.svg
    defs
      lineargradient#gradientStyle
        stop(offset='0%' stop-color='#8963f6')
        stop(offset='100%' stop-color='#462c98')
    circle.circle(cx='19' cy='20' r='15')
