.progressBlock
  .box
    p.number
      span.num 
    div.up-arrow &#9650;
  svg.svg
    defs
      lineargradient#gradientStyle
        stop(offset='0%' stop-color='#ff0000')
        stop(offset='100%' stop-color='#700202')
    circle.circle
