- var hands = "images/hands.png"

section.skills-section#bye
	h2 
		| Навыки
	div.skills-section__item 
		span 
			| Frontend 
		p 
			| HTML, CSS, SCSS, JS, React, Next.JS, GSAP, Anime.JS, Strapi, Bootstarp 
			
	div.skills-section__item 
		span 
			| Additional 
		p 
			| Figma, Photoshop, Jira, Git 
	div.skills-section__item 
		span 
			| Languages 
		p 
			| Russian, English 
	img(src=hands)