
include ../components/backToTop
main.main(data-scroll-container='')
	include ../components/aboutMeSection

	article 
		include ../components/expirienceSection
	
		include ../components/educationSection
		include ../components/backToTop
	include ../components/skillsSection	
	
