
include ../components/backToTop
main.main
	include ../components/aboutMeSection

	article 
		include ../components/expirienceSection
	
		include ../components/educationSection

	include ../components/skillsSection	
	
