

main.main(data-scroll-container='')
	include ../components/aboutMeSection

	div.article#sharing-container(data-scroll-section)
		include ../components/expirienceSection
	
		include ../components/educationSection

	include ../components/skillsSection	
	
