

main.main(data-scroll-container='')
	include ../components/aboutMeSection

	article(data-scroll-section)
		include ../components/expirienceSection
	
		include ../components/educationSection

	include ../components/skillsSection	
	
